{
    frankenphp
}

{$SERVER_NAME} {
    root * /app/public
    encode zstd gzip
    @publicImages path /storage/*
    header @publicImages Cache-Control "public, max-age=31536000, immutable"
    php_server
}
